@font-face {
    font-family: Mono;
    src: url(MonospaceTypewriter.ttf);
}

p {
    font-size: 15px;
}

body {
    font-family: 'Mono';
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    box-shadow: 10 10 10 10;
}

.BD {
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    width: 600px;
    height: 50px;
    padding: 10px;
    margin: 25px auto;
    text-align: left;
}

.BD2 {
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 25px auto;
    text-align: left;
}

.background {
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    width: 1000px;
    padding: 25px;
    margin: 50px auto;
    text-align: left;
}

.BP {
    font-size: 13px;
}

footer {
    text-align: center;
}